.App {
  text-align: left;
  color: black;
}

.App-logo {
  margin: 20px;
  height: 50px;
}

.App-header {
}

.App-container {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

